window {
    background-color: rgba(30, 30, 46, 0.90);
}

button {
    border-color: #b4befe;
    color: #b4befe;
    background-color: #181825;
}

button:hover {
    background-color: rgb(48, 50, 66);
    box-shadow: 0 0 10px 2px rgba(180, 190, 254, 0.4);
}

button:focus,
button:active {
    box-shadow: 0 0 10px 2px rgba(180, 190, 254, 0.6);
}

label {
    color: #b4befe;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

/* Mauve icons */
#lock {
    background-image: url("/home/milan/.config/wlogout/icons/lavender/lock.svg");
}
#logout {
    background-image: url("/home/milan/.config/wlogout/icons/lavender/logout.svg");
}
#suspend {
    background-image: url("/home/milan/.config/wlogout/icons/lavender/suspend.svg");
}
#hibernate {
    background-image: url("/home/milan/.config/wlogout/icons/lavender/hibernate.svg");
}
#shutdown {
    background-image: url("/home/milan/.config/wlogout/icons/lavender/shutdown.svg");
}
#reboot {
    background-image: url("/home/milan/.config/wlogout/icons/lavender/reboot.svg");
}
