window {
    background-color: rgba(30, 30, 46, 0.90);
}

button {
    border-color: #cba6f7;
    color: #cba6f7;
    background-color: #181825;
}

button:hover {
    background-color: rgb(48, 50, 66);
    box-shadow: 0 0 10px 2px rgba(203, 166, 247, 0.4);
}

button:focus,
button:active {
    box-shadow: 0 0 10px 2px rgba(203, 166, 247, 0.6);
}

label {
    color: #cba6f7;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

/* Mauve icons */
#lock {
    background-image: url("/home/milan/.config/wlogout/icons/mauve/lock.svg");
}
#logout {
    background-image: url("/home/milan/.config/wlogout/icons/mauve/logout.svg");
}
#suspend {
    background-image: url("/home/milan/.config/wlogout/icons/mauve/suspend.svg");
}
#hibernate {
    background-image: url("/home/milan/.config/wlogout/icons/mauve/hibernate.svg");
}
#shutdown {
    background-image: url("/home/milan/.config/wlogout/icons/mauve/shutdown.svg");
}
#reboot {
    background-image: url("/home/milan/.config/wlogout/icons/mauve/reboot.svg");
}
